---
import ky from "ky";

interface Video {
  name: string;
  id: string;
}

const videos: Video[] = await ky(`http://localhost:8008/videos`).json();
---

<div class="flex">
  {
    videos.map((video) => (
      <a
        class="border-1 m-1 min-w-fit border border-black shadow-sm"
        href={`/watch/${video.id}`}
      >
        {video.name}
      </a>
    ))
  }
</div>
